.App {
  font-family: sans-serif;
  text-align: center;
}
.result-panel {
  border: 1px solid;
  width: 100px;
  height: 16px;
  padding: 5px;
  text-align: center;
  margin: 5px auto;
}
.number-panel {
  margin: 5px auto;
  font-size: 2rem;
}

button {
  margin: 2px;
}
